@font-face {
    font-family: "CoFoSans";
    src: url("../fonts/CoFoSans-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #ffffff;
    font-family: CoFoSans;
}

header {
    display: flex;
    margin-top: 10px;
}

h1 {
    margin-top: 45px;
    color: #007bfc;
}

.icon {
    height: auto;
    width: 150px;
}

.block {
    background-color: #f4f6fb;
    min-height: 65vh;
    height: 100%;
    display: flex;
    justify-content: center;
}

.block-two {
    /* width: 1000px; */
    text-align: center;
}

.data-block {
    display: flex;
    justify-content: center;
}

.a-text {
    text-decoration: none;
}

.btn {
    width: 150px;
    height: 50px;
    border: 0;
    background-color: #007bfc;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.7s;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.btn:hover {
    border-radius: 30px;
    cursor: pointer;
}

footer {
    display: flex; 
    justify-content: center;
}

.icon-samolet {
    height: 30px;
    width: auto;
}

.btn:hover {
    border-radius: 30px;
    cursor: pointer;
}

.img-samolet p {
    display: block;
    color: #007bfc;
}

.git {
    color: #007bfc;
}

.partner {
    margin-right: 50px;
}

.about-us {
    margin-right: 50px;
}

.number-a {
    color: #007bfc;
}